<div class="inset-c-products wow slideInRight">
			<div class="tops">
				<a href="javascript:;" data-id="variant" class="back-blue active">PRODUCT VARIANTS</a>&nbsp;&nbsp;&nbsp;
				<a href="javascript:;" data-id="specification" class="back-blue">PRODUCT SPECIFICATION</a>&nbsp;&nbsp;&nbsp;
				<a href="javascript:;" data-id="application" class="back-blue lastc">PRODUCT APPLICATIONS</a>
			</div> <div class="clear height-40"></div><div class="height-3"></div>
			<div class="middles-dta">
				<!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="variant">
			    	<p>Whether you are looking for daylighting or extreme corrosion resistance, V-sky has a product designed to meet your expectation. In addition to fire retardant and strong panels, V-sky&#39;s products are designed to fully optimize corrosion resistance, and to become the most durable, longest lasting fiberglass building panels on the market today.</p>
				<p>Click on the product below for more detail.</p>

				<div class="list-thumbs-product">
					<ul class="list-inline">
						<li>
							<a class="fancy" href="{{ app.request.baseurl }}/asset/images/product-variant/roofing-panels.jpg"><img src="{{ app.request.baseurl }}/asset/images/FRP-ROOFING-PANELS.jpg" alt="" class="img-responsive"></a>
							<div class="clear height-10"></div>
							<span class="text-center"><a class="fancy" href="{{ app.request.baseurl }}/asset/images/product-variant/roofing-panels.jpg">FRP ROOFING PANELS</a></span>
						</li>
						<li>
							<a class="fancy" href="{{ app.request.baseurl }}/asset/images/product-variant/frp-gutters.jpg"><img src="{{ app.request.baseurl }}/asset/images/FRP-GUTTERS.jpg" alt="" class="img-responsive"></a>
							<div class="clear height-10"></div>
							<span class="text-center"><a class="fancy" href="{{ app.request.baseurl }}/asset/images/product-variant/frp-gutters.jpg">FRP GUTTERS</a></span>
						</li>
						<li>
							<a class="fancy" href="{{ app.request.baseurl }}/asset/images/product-variant/frp-equipment.jpg"><img src="{{ app.request.baseurl }}/asset/images/frp-equipment.jpg" alt="" class="img-responsive"></a>
							<div class="clear height-10"></div>
							<span class="text-center"><a class="fancy" href="{{ app.request.baseurl }}/asset/images/product-variant/frp-equipment.jpg">FRP EQUIPMENT</a></span>
						</li>
					</ul>
				</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="specification">
			    	<p><img style="max-width: 565px;" src="{{ app.request.baseurl }}/asset/images/spec-products.png" alt="" class="responsive"></p>
			    	<div class="clear"></div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="application">

				<div class="list-thumbs-product">
					<ul class="list-inline">
						<li>
							<a class="fancy" href="{{ app.request.baseurl }}/asset/images/application/large/industrial.jpg"><img src="{{ app.request.baseurl }}/asset/images/application/industrial.jpg" alt="" class="img-responsive"></a>
							<div class="clear height-10"></div>
							<span class="text-center"><a class="fancy" href="{{ app.request.baseurl }}/asset/images/application/large/industrial.jpg">Industrial</a></span>
						</li>
						<li>
							<a class="fancy" href="{{ app.request.baseurl }}/asset/images/application/large/public-space.jpg"><img src="{{ app.request.baseurl }}/asset/images/application/public-space.jpg" alt="" class="img-responsive"></a>
							<div class="clear height-10"></div>
							<span class="text-center"><a class="fancy" href="{{ app.request.baseurl }}/asset/images/application/large/public-space.jpg">Public Space</a></span>
						</li>
						<li>
							<a class="fancy" href="{{ app.request.baseurl }}/asset/images/application/large/residential.jpg"><img src="{{ app.request.baseurl }}/asset/images/application/residential.jpg" alt="" class="img-responsive"></a>
							<div class="clear height-10"></div>
							<span class="text-center"><a class="fancy" href="{{ app.request.baseurl }}/asset/images/application/large/residential.jpg">FRP EQUIPMENT</a></span>
						</li>
					</ul>
			    	<div class="clear"></div>
			    </div>
			    <p>&nbsp;</p>
			    <p>&nbsp;</p>
			    <p>&nbsp;</p>
			    <p>&nbsp;</p>
			    <p>&nbsp;</p>
			    <p>&nbsp;</p>
			  </div>

				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>

</div>

<script type="text/javascript">
	$(function(){
		$('.inset-c-products .tops a').click(function (e) {
		  e.preventDefault();
		  var t_href = $(this).attr('data-id');
		  // alert(t_href); return false;
		  // $(this).tab('show');
		  $('.inset-c-products .tab-content').find('div.active').removeClass('active');
		  $('#'+t_href).addClass('fade active in');

		  // add active menu
		  $('.inset-c-products .tops a').removeClass('active');
		  $(this).addClass('active');
		  // return false;
		})
	});
</script>
{# tab-pane fade active in #}