
<section class="home-sec-5 py-4">
    <div class="lefts_space pl-5 my-2 mx-2">
        <div class="d-inline-block pr-5 names_titles align-middle">
            C.V. Hentraco - Machine Tools & Industrial Machinery Brand:
        </div>
        <div class="d-inline-block align-middle lists_nm_logo">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <img src="{{ app.request.baseurl }}/asset/images/log_icon_ft_1.jpg" alt="" class="img img-fluid">
                </li>
                <li class="list-inline-item">
                    <img src="{{ app.request.baseurl }}/asset/images/log_icon_ft_2.jpg" alt="" class="img img-fluid">
                </li>
                <li class="list-inline-item">
                    <img src="{{ app.request.baseurl }}/asset/images/log_icon_ft_3.jpg" alt="" class="img img-fluid">
                </li>
            </ul>
        </div>
    </div>
</section>


<footer class="footer-1 prelaitfe">
    <div class="container_def mx-auto d-block">
        <div class="row">
            <div class="col-md-25">
                <div class="lgo-footer"><a href="#"><img src="{{ app.request.baseurl }}/asset/images/logosn_footer.png" alt="" class="img img-fluid"></a></div>
                <div class="py-3 my-1"></div>
                <h5>Your  Machine Tools <br>
                    & Industrial Machinery <br>
                    <b>Suppliers From Indonesia</b></h5>
            </div>
            <div class="col-md-35">
                <div class="py-1"></div>
                <div class="ft_top_right">
                    <span>Contact Us</span>&nbsp;&nbsp;
                    <p><a href="mailto:hentracosby@yahoo.com">hentracosby@yahoo.com</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        Whatsapp. <a href="https://wa.me/62816848361">081 6848 361</a></p>
                </div>
                <div class="py-3 my-1"></div>
                <div class="row">
                    <div class="col-md-20 col-30 s-content">
                        <h6>Head Office</h6>
                        <p>Jl. Raya Diponegoro 46 i<br>Surabaya, Jawa Timur<br>Phone. +62 31 5677342</p>
                        <div class="py-1"></div>
                        <p><a href="https://goo.gl/maps/nw7TXKpc1JqyAtXs6" target="_blank">View on Google Map</a></p>
                    </div>
                    <div class="col-md-20 col-30 s-content">
                        <h6>Represensative Office</h6>
                        <p>Jl. P Jayakarta 141 Blok II/C-9<br>Jakarta Pusat, DKI Jakarta<br>Phone. +62 21 6293045</p>
                        <div class="py-1"></div>
                        <p><a href="https://goo.gl/maps/rZixcJ7vVaw6SKNJA" target="_blank">View on Google Map</a></p>
                    </div>
                    <div class="col-md-20 col s-content">
                        <h6>Representative Office</h6>
                        <p>Jl. Kenari, Sukamahi, <br>Kec. Cikarang Pusat, Bekasi, <br>Jawa Barat 17530&nbsp;(021) 89911241</p>
                        <div class="py-1"></div>
                        <p><a href="https://goo.gl/maps/ac5bTTiwLWpXeUf4A" target="_blank">View on&nbsp;Google Map</a></p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="clearfix clear"></div>
    </div>
    
    <div id="back-top" class="t-backtop">
        <a href="#top"><img src="{{ app.request.baseurl }}/asset/images/backs_ntop.jpg" alt="" class="img img-fluid"></a>
    </div>
</footer>

<div class="blocks_btm_copyrights py-4">
    <div class="container_def mx-auto d-block">
        <div class="row">
            <div class="col-md-30 col-60">
                <p class="copy d-none d-sm-block">Copyright &copy; C.V. Hentraco - Machine Tool & Industrial Machinery, All rights reserved - 2020</p>
                <p class="copy d-block d-sm-none">Copyright &copy; C.V. Hentraco - Machine Tool & Industrial Machinery,
                <br>All rights reserved - 2020</p>
                <div class="py-1"></div>
            </div>
            <div class="col-md-30 col-60">
                <p class="copy text-right">Website Design and Development by <a title="Website Design Surabaya" href="https://markdesign.net/" target="_blank">Mark Design Indonesia.</a></p>
            </div>
        </div>
    </div>
</div>


<div class="blocks_n_float_footersnx d-block d-sm-none">
    <div class="prelatife container">
        <div class="row">
            <div class="col borders_right">
                <span><a href="https://wa.me/62816848361"><i class="fa fa-whatsapp"></i>&nbsp; Whatsapp</a></span>
            </div>
            <div class="col">
                <span><a href="mailto:hentracosby@yahoo.com"><i class="fa fa-envelope"></i>&nbsp; Email</a></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>