{% extends layout %}
{% block title %}About Us - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}

<!--slider-->
<section class="slider inside-page">
    <div class="outer-wrapper-top">
        <div class="top-blue">
            
        </div>
        
        <div class="box-slider">
            <div class="container prelatife-header">
                {% include "/layouts/header.twig" with { 'menu': block('menu') } %}
            </div>
            
            <div class="image">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ app.request.baseurl }}/asset/images/about.jpg" alt="slider" class="img-responsive">
                        <img class="shadow" src="{{ app.request.baseurl }}/asset/images/shadow.png" alt="shadow">
                        <div class="caption">
                            <div class="title">
                                <p>WE ARE<br><b>PUSPETINDO</b></p>
                                <p class="bot">AND WE ARE HERE FOR YOU</p>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
<!--akhir slider-->

<!--about-->
<section class="about">
    <div class="container text-center">
        <div class="caption tops_content">
            <h4 class="small">ABOUT</h4>
            <div class="title"><h2>Who We Are</h2></div>
            <div class="subtitle">
            <p class="mid">PT. Puspetindo is a nation-leading industrial company offering engineering services and manufacturing of plants equipments in a wide selection. We build equipments for the sustainable processing and flow of natural resources in various industries such as mining, aggregates, recycling and process industries.</p>

            <p>PT. Puspetindo is a nation-leading industrial company offering engineering services and manufacturing of plants equipments in a wide selection. We build equipments for the sustainable processing and flow of natural resources in various industries such as mining, aggregates, recycling and process industries. With our decades of experience, our unique knowledge and innovative solutions, we help our customers improve their operational efficiency, reduce risks and increase efficiency.</p>
            </div>
        </div>
        
        <img class="border" src="{{ app.request.baseurl }}/asset/images/border.png" alt="border">
        
        <h2 class="bot visible-lg visible-md">What we’ve been doing <br> for the last 3 decades</h2>
    </div>
</section>

<section class="work">
    <div class="container">
       <img class="about1" src="{{ app.request.baseurl }}/asset/images/about-1.jpg" alt="worker">
        <h2 class="bot visible-xs visible-sm">What we’ve been doing <br> for the last 3 decades</h2>
        <p>PT. Puspetindo is a nation-leading industrial company offering <br> engineering services and manufacturing of plants equipments in a large <br> scale. We build equipments for the sustainable processing and flow of <br> natural resources in various industries such as mining, aggregates, <br> recycling and process industries. With our decades of experience, our <br> unique knowledge and innovative solutions, we help our customers <br> improve their operational efficiency, reduce risks and increase efficiency.</p>
        <img class="about2" src="{{ app.request.baseurl }}/asset/images/about-2.jpg" alt="worker">
    </div>
</section>

<section class="vision">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="title"><h2>Our Vision</h2></div>
                <div class="subtitle"><p>To become Indonesia's largest company for engineering services and process machinery equipments, with the highest standard as the benchmark for manufacturing quality and sustainable processing in the nation as well as in the world.</p></div>
                <div class="divider-50"></div>
                <div class="title"><h2>Our Mission</h2></div>
                <div class="subtitle">
                    <ul>
                        <li>We work and we act according to the highest standards and regulations to show to the world our international standard competence</li>
                        <li>We don&#39;t compromise on quality and we put safety of our human resource and safety of our products at the highest level</li>
                        <li>We will continue to bring the nation&#39;s pride of engineering services and manufacturing capability to the world, by bringing smart and solutive innovated products</li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{{ app.request.baseurl }}/asset/images/about-3.png" alt="vision">
            </div>
        </div>
        
    
    </div>
</section>
<!--akhir about-->

<!--portfolio-->
<section class="portfolio">
    <div class="container">
       <h2 class="text-center">What Makes Us Strong</h2>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ app.request.baseurl }}/asset/images/portfolio-about-1.png">
                        <img src="{{ app.request.baseurl }}/asset/images/portfolio-about-1.jpg" alt="working1">
                        </a>
                    </div>
                    <div class="caption">
                            <h3>Our People</h3>
                            <p>PT. Puspetindo is a nation-leading industrial <br> company offering engineering services and <br> manufacturing of plants equipments in a wide selection. </p>
                    </div>
                </div>   
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ app.request.baseurl }}/asset/images/portfolio-about-2.png">
                        <img src="{{ app.request.baseurl }}/asset/images/portfolio-about-2.jpg" alt="working2">
                        </a>
                    </div>
                    <div class="caption">
                            <h3>Our Experience</h3>
                            <p>PT. Puspetindo is a nation-leading industrial <br> company offering engineering services and <br> manufacturing of plants equipments in a wide selection. </p>
                    </div>
                </div>

                <div class="col-sm-4">
                   <div class="thumbnail">
                        <a class="lightbox" href="{{ app.request.baseurl }}/asset/images/portfolio-about-3.png">
                        <img src="{{ app.request.baseurl }}/asset/images/portfolio-about-3.jpg" alt="working3">
                        </a>
                    </div>
                    <div class="caption">
                            <h3>Our Innovation</h3>
                            <p>PT. Puspetindo is a nation-leading industrial <br> company offering engineering services and <br> manufacturing of plants equipments in a wide selection. </p>
                    </div>
                </div>    
            </div>
        </div>
        <p class="text-center bot">“PT. Puspetindo is a nation-leading industrial company offering engineering services and manufacturing of plants <br> equipments in a wide selection. We build equipments for the sustainable processing and flow of natural resources in various <br> industries such as mining, aggregates, recycling and process industries.”</p>
    </div>
</section>
<!--akhir portfolio-->


{% endblock %}
