{% extends layout %}
{% block title %}Articles - {% endblock %}
{% block menu %}article{% endblock %}
{% block content %}
<section class="outers_inside_page p_gallery">
	<div class="insides_page">
		<div class="back-white backs_cloud_insidep content-text text-center">
			<div class="prelatife container">
				<div class="clear h60"></div>
				<h1 class="title-pages">Articles</h1>
				<div class="clear height-50"></div><div class="height-20"></div>
				

				{# Start listing articles #}
				<div class="listing_article_default">
					<div class="row">
						{% for i in 1..4 %}
						<div class="col-md-4">
							<div class="items">
								<div class="pict">
									<img src="{{ app.request.baseurl }}/asset/images/artikel-1.jpg" alt="" class="img-responsive">
								</div>
								<div class="desc">
									<div class="d-inline text-left v-top mw290">
										<span class="title d-inline">
											Promosi 20% discount perawatan kulit di Cahaya Medical Centre
										</span>
									</div>
									<div class="d-inline text-right v-top">
										<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btns-grey-chevron-rights.png" alt=""></a>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="items">
								<div class="pict">
									<img src="{{ app.request.baseurl }}/asset/images/artikel-2.jpg" alt="" class="img-responsive">
								</div>
								<div class="desc">
									<div class="d-inline text-left v-top mw290">
										<span class="title d-inline">
											Mengapa penting untuk tidur lebih pagi
										</span>
									</div>
									<div class="d-inline text-right v-top">
										<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btns-grey-chevron-rights.png" alt=""></a>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="items">
								<div class="pict">
									<img src="{{ app.request.baseurl }}/asset/images/artikel-3.jpg" alt="" class="img-responsive">
								</div>
								<div class="desc">
									<div class="d-inline text-left v-top mw290">
										<span class="title d-inline">
											Mengapa hati yang gembira dapat menyembuhkan penyakit
										</span>
									</div>
									<div class="d-inline text-right v-top">
										<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btns-grey-chevron-rights.png" alt=""></a>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{# End listing articles #}
				<div class="clear height-50"></div><div class="height-40"></div>

				<div class="clear"></div>
			</div>
		</div>

		<div class="clear"></div>
	</div>
</section>
<div class="clear"></div>
{% endblock %}