{% extends layout %}
{% block title %}Commodities - {% endblock %}
{% block menu %}commodities{% endblock %}
{% block content %}

    <section class="top_outer_insidepage illustration_page back_commo">
        <div class="insidesc">
            <div class="texts">
                <h1 class="title-page">Commodities</h1>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section class="default_sc back-grey mh420 blocks_pattern_grey">
        <div class="prelatife container">
            <div class="content-text top_cont_abouts">
                <div class="text-center center-block mw815">
                        <h2>Our vast range of sustainable and qualified commodities</h2>
                        <div class="clear"></div>
                        <p>PT. Seger Agro Nusantara has more than 60 years combined experience in the procurement and delivery of food commodity products. Supported by our 5 strategically located silo warehouses scattered in the country, we are Indonesia’s best agricultural commodities, and food and feed ingredients traders.</p>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </section>

{% if list_commoditie_deafult %}
    {% for key, item in list_commoditie_deafult %}
        {% for ky, itm in item %}
            {% if ky == 0 %}
               <section id="{{ itm.s_active }}" class="default_sc homes_list_fullsection">
                <div class="row box_sectionfull">
                    <div class="col-md-6 b_desc">
                        <div class="insides plr90">
                            <div class="tops">
                                <h3 class="sub_titles">{{ itm.nama }}</h3>
                            </div>
                            <div class="clear"></div>
                            {{ itm.desc|raw }}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-6 pict_right">
                        <div class="pict_full picts">
                            <img src="{{ app.request.baseurl }}/asset/images/{{ itm.pict }}" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
            {% endif %}

            {% if ky == 1 %}
               <section id="{{ itm.s_active }}" class="default_sc homes_list_fullsection">
                <div class="row box_sectionfull">
                     <div class="col-md-6 pict_right">
                        <div class="pict_full picts">
                            <img src="{{ app.request.baseurl }}/asset/images/{{ itm.pict }}" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6 b_desc back_cream">
                        <div class="insides plr90">
                            <div class="tops">
                                <h3 class="sub_titles">{{ itm.nama }}</h3>
                            </div>
                            <div class="clear"></div>
                            {{ itm.desc|raw }}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
            {% endif %}
            
        {% endfor %}
    {% endfor %}
{% endif %}

<script type="text/javascript">
    $(window).load(function(){
        widthF = $(window).width();
        if (widthF > 1005 ) {
            var heightPic = $('.box_sectionfull .picts img').height();
            heightPic = parseInt(heightPic) - 2;
            $('.box_sectionfull .b_desc').css('height', heightPic+'px');
            $('section.homes_list_fullsection .box_sectionfull img').css('height', heightPic+'px');
        };
    })
    </script>
<style type="text/css">
    body{
        background-color: transparent;
    }
</style>
{% endblock %}