{% extends layout %}
{% block title %}Our Facility - {% endblock %}
{% block menu %}facility{% endblock %}
{% block content %}
	<h1 style="visibilty: none; display:none;">Our Facility - Sitondi</h1>
	<div class="container prelatife">

		<div class="blocks_bottom_intop_page">
			<div class="pict_ill">
				<img src="{{ app.request.baseurl }}/asset/images/ill-facility.jpg" alt="" class="img-responsive center-block">
			</div>
		</div>
		<div class="clear"></div>

		<div class="content-text text-center">
			<div class="mw840 tengah">
				<h2 class="title_page">OUR FACILITY</h2>
				<div class="clear"></div>
				<span>As an authorised dealer of Denso in Malang, Sitondi puts its facility in an international standard. All vehicles are placed in a neat and tidy arrangements to ensure work efficiency, cleanliness and systematics flow of operation.</span>
				<div class="clear"></div>
				<div class="clear height-30"></div>
				<div class="center">
					<div class="backs_line_vertical_mddils"></div>
				</div>
				<div class="clear height-30"></div>
				<p>All facilities and technologies are always updated to accommodate the latest vehicle model and to ensure the quality of our service.</p>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>

		<div class="clear height-50"></div>
		
		<div class="lists_facility_defaults">
			
			{% if list_def_facilitys %}
				{% for key1, item1 in list_def_facilitys %}
				    {% for key2, item2 in item1 %}
				        {% if key2 == 0 %}
				        	<div class="list">
								<div class="row">
									<div class="col-md-4 desc">
										<div class="tables_out">
											<div class="table_in">
												<span>{{ item2.title|raw }}</span>
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<div class="col-md-8 picture">
										<img src="{{ app.request.baseurl }}/asset/images/{{ item2.pict }}" alt="" class="img-responsive">
									</div>
								</div>
							</div>
				        {% else %}				        	    
				        	<div class="list">
								<div class="row">
									<div class="col-md-8 picture">
										<img src="{{ app.request.baseurl }}/asset/images/{{ item2.pict }}" alt="" class="img-responsive">
									</div>
									<div class="col-md-4 desc">
										<div class="tables_out">
											<div class="table_in">
												<span>{{ item2.title|raw }}</span>
											</div>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
				        {% endif %}
				    {% endfor %}
				{% endfor %}
			{% endif %}

			<div class="clear"></div>
		</div>
		{# end list facility default #}
		
		<div class="clear height-50"></div>
		<div class="clear height-50"></div>
		<div class="clear"></div>
	</div>
{% endblock %}
