{% extends layout %}
{% block title %}{% endblock %}
{% block menu %}homepage{% endblock %}
{% block content %}

<section class="block-home-1">
    <div class="prelatife container">
        <div class="py-4"></div>
        <div class="inner_sections def_home mw540 mx-auto text-center">
            <h3>Let’s Find The Best Machine For You</h3>
            <p>You might need help or assistance regarding your needs of machines. Please contact us anytime at one of the methods below.</p>
            <div class="clear"></div>

            <ul class="list-inline list_btm">
                <li class="list-inline-item">
                    <div class="d-inline-block align-middle pr-2">
                        <img src="{{ app.request.baseurl }}/asset/images/icons_phone-bg.png" alt="" class="img img-fluid">
                    </div>
                    <div class="d-inline-block align-middle">
                        <p>WHATSAPP CHAT <br>
                            <a href="https://wa.me/62816848361">081 6848 361 (Click)</a></p>
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="lines-verticals"></div>
                </li>
                <li class="list-inline-item">
                    <div class="d-inline-block align-middle pr-2">
                        <img src="{{ app.request.baseurl }}/asset/images/icons_mail-bg.png" alt="" class="img img-fluid">
                    </div>
                    <div class="d-inline-block align-middle">
                        <p>EMAIL<br>
                            <a href="mailto:info@hentraco.co.id">info@hentraco.co.id</a></p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="py-4"></div>
        <div class="clearfix clear"></div>
    </div>
</section>

<section class="blocks_home-2">
    <div class="row no-gutters">
        <div class="col-md-15 py-5 my-auto back-blue">
            <div class="left-space pl-85 mx-2 lefts_filter">
                <div class="py-4"></div>
                <h3>Our Machine Tool & <br>Industrial Machinery</h3>
                <div class="py-2"></div>
                <ul class="list-unstyled selector_slides">
                    {% for key, item in set_CategoryRef %}
                    <li data-id="{{ key }}" class="{% if key == 15 %}active{% endif %}"><a href="{{ url('machine_detail', {'id': item.id, 'slug': item.title|lower } ) }}">{{ item.title|title }}</a></li>
                    {% endfor %}
                </ul>
                <div class="py-4"></div>
                <div class="celar"></div>
            </div>
        </div>
        <div class="col-md-45 py-5 my-auto">
            <div class="right-space pr-5 mx-2">
                <div class="py-4"></div>
                <div class="blocks_machine">
                    <div class="row mb-3 tops">
                        <div class="col">
                            <h4>C.V. Hentraco specialties</h4>
                            <div class="clear"></div>
                            <div class="lines-grey"></div>
                        </div>
                    </div>
                    <div class="py-2 my-1"></div>

                    {# start slider #}
                    <div id="carousel_exHome" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        {% for key, item in set_CategoryRef %}
                        <div class="carousel-item {% if key == 0 %}active{% endif %}">
                            <div class="row">
                                <div class="col-md-25">
                                    <div class="pictures">
                                        <img src="{{ item.image }}" alt="" class="img img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-35">
                                    <div class="desc_info py-3">
                                        <h5>{{ item.title|title }}</h5>
                                        <div class="py-2"></div>
                                        <p>{{ item.content|raw }}</p>
                                        <a href="{{ url('machine_detail', {'id': item.id, 'slug': item.title|lower } ) }}" class="btn btn-link">LEARN MORE</a>
                                    </div>      
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>                    
                    {# end slider #}

                </div>

                <div class="py-4"></div>
            </div>
        </div>
    </div>
</section>

<section class="home-sec-4">
    <div class="row no-gutters">
        <div class="col-md-15">
            <div class="pictures prelatife">
                <img src="{{ app.request.baseurl }}/asset/images/banners_ft_0.jpg" alt="" class="img img-fluid w-100">
                <div class="pos_t t1">
                    <h6>More On Our<br>Website</h6>
                </div>
            </div>    
        </div>

        <div class="col-md-15">
            <div class="pictures prelatife">
                <img src="{{ app.request.baseurl }}/asset/images/banners_ft_1.jpg" alt="" class="img img-fluid w-100">
                <div class="pos_t">
                    <a href="{{ path('about') }}"><h6>About Us</h6></a>
                </div>
            </div>    
        </div>
        <div class="col-md-15">
            <div class="pictures prelatife">
                <img src="{{ app.request.baseurl }}/asset/images/banners_ft_2.jpg" alt="" class="img img-fluid w-100">
                 <div class="pos_t">
                    <a href="{{ path('location') }}"><h6>Our Location</h6></a>
                </div>
            </div>    
        </div>
        <div class="col-md-15">
            <div class="pictures prelatife">
                <img src="{{ app.request.baseurl }}/asset/images/banners_ft_3.jpg" alt="" class="img img-fluid w-100">
                 <div class="pos_t">
                     <a href="{{ path('contact') }}"><h6>Inquire Now</h6></a>
                </div>
            </div>    
        </div>
    </div>
</section>

<script type="text/javascript">
    $('.selector_slides li').on('click', function(){
        var act_id = parseInt( $(this).attr('data-id') );
        console.log(act_id);
        $('#carousel_exHome').carousel(act_id);
        
        $('.selector_slides li').removeClass('active');
        $(this).addClass('active');
        return false;
    });
</script>

{% endblock %}