<p>Thank you for request Inquiry! we will respond to you shortly.</p>
<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>:</td>
		<td>{{ data.phone }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>
	
	<tr>
		<td>Stones Product</td>
		<td>:</td>
		<td>{{ data.product }}</td>
	</tr>

	<tr>
		<td>Message</td>
		<td>:</td>
		<td>{{ data.message }}</td>
	</tr>
</table>

<p>Copyright &copy; 2017.</p>