<p>Thank you for contacting us! we will respond to you shortly.</p>
<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Company</td>
		<td>:</td>
		<td>{{ data.company }}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>:</td>
		<td>{{ data.phone }}</td>
	</tr>
	<tr>
		<td>Industry</td>
		<td>:</td>
		<td>{{ data.industry }}</td>
	</tr>
	
	<tr>
		<td>Message</td>
		<td>:</td>
		<td>{{ data.message }}</td>
	</tr>
</table>

<p>Copyright &copy; 2020.</p>