{% extends layout %}
{% block title %}{{ lang_message.Quality|raw }} - {% endblock %}
{% block menu %}quality{% endblock %}
{% block content %}
<div class="outers_cont_inside_page back-white">

	<h1 style="visibilty: none; display:none;">{{ lang_message.Quality|raw }} - {{ app_name }}</h1>
	<div class="insides_toppage_blocks">
		<div class="blocks_bottom_intop_page pg_quality">
			<div class="insides">
				<div class="blocks_top_ill">
					<h2 class="title_page">{{ lang_message.Quality|raw }}</h2>
				</div>
				
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
	<section class="default_sc b_pg_quality" id="insides_page_about2">
		<div class="container prelatife conts_about_top_mins">
			<div class="content-text text-left">
				<div class="row">
					<div class="col-md-6">
						{{ lang_message.texts_left_quality_1|raw }}
						<div class="clear"></div>
					</div>
					<div class="col-md-6">
						<div class="visible-sm visible-xs">
							<div class="pict_fl padding-top-25"><img src="{{ app.request.baseurl }}/asset/images/pict-quality-1.jpg" alt="" class="img-responsive"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</section>

	<section class="default_sc" id="insides_page_quality3">
		<div class="container prelatife insides">
			<div class="content-text text-center">
				{{ lang_message.tops_title_l_quality|raw }}
				<div class="clear height-35"></div>

				<div class="lists_quality_ch_data">
					<div class="row">
						{% if list_def_quality %}
							{% for keys, item in list_def_quality %}
								<div class="col-md-4 col-sm-6">
									<div class="items">
										<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/{{ item.pict }}" alt="" class="img-responsive"></div>
										<div class="desc">
											{% if lang_active == 'en' %}
											<h6 class="titles">{{ item.title_en }}</h6>
											<p>{{ item.desc_en|raw }}</p>
											{% else %}
											<h6 class="titles">{{ item.title_id }}</h6>
											<p>{{ item.desc_id|raw }}</p>
											{% endif %}
										</div>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				{# end list quality #}

				<div class="clear"></div>
			</div>
		</div>
	</section>

</div>

{% if lang_active == 'id' %}
	<style type="text/css" media="screen">
		section.default_sc#insides_page_about2 .container.prelatife.conts_about_top_mins .content-text p{
			font-size: 16px;
		}
	</style>
{% endif %}
{% endblock %}
