{% extends layout %}
{% block title %}Services & Capabilities - {% endblock %}
{% block menu %}service{% endblock %}
{% block content %}
	<!--slider-->
<section class="slider inside-page">
    <div class="outer-wrapper-top">
        <div class="top-blue">
            
        </div>
        
        <div class="box-slider">
            <div class="container prelatife-header">
            	{% include "/layouts/header.twig" with { 'menu': block('menu') } %}
            </div>
            
            <div class="image">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ app.request.baseurl }}/asset/images/bg-profil-service.jpg" alt="slider" class="img-responsive">
                        <img class="shadow" src="{{ app.request.baseurl }}/asset/images/shadow.png" alt="shadow">
                        <div class="caption">
                            <div class="title">
                                <p>WHAT <b>PUSPETINDO</b></p>
                                <p class="bot">CAN DO FOR YOU</p>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</section>
<!--akhir slider-->

<!-- akhir profil -->
<!-- workshop -->
<div class="workshop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title">
                    SERVICE & CAPABILITIES
                </div>
                <div class="subtitle">
                    Our Workshop
                </div>
            </div>

            <div class="col-lg-4 col-md-5">
                <div class="title-content">
                    <h3>We manufacture complex and state of the art plants equipments in a wide selection.</h3>
                </div>
                <div class="content">
                    <p>When we build something, we always put quality and sustainability as the priority. With international standards in engineering and processing, our scope of work is as far as your imagination. We engineered and manufactured Pressure Vessels, Towers, Heat Exchangers, Boilers, Condensers and other Plants Equipment for various Process Industries as per international codes, standard and customer specifications, in Carbon, Alloy, Stainless Steel, Clad Steels and other special materials.</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-8">
                <img class="img-responsive" src="{{ app.request.baseurl }}/asset/images/workshop.jpg">
            </div>

            <div class="col-md-12 credits text-center">
                <img class="img-responsive center-block" src="{{ app.request.baseurl }}/asset/images/easm.jpg">
                <div class="title-logo">
                    PUSPETINDO IS ASME CERTIFIED
                </div>
                <div class="listn_mens_link">
                    <a href=""><img src="{{ app.request.baseurl }}/asset/images/check.jpg">&nbsp;<span>ASME “R”</span></a><img class="verticalsm" src="{{ app.request.baseurl }}/asset/images/vertical.jpg">
                    <a href=""><img src="{{ app.request.baseurl }}/asset/images/check.jpg">&nbsp;<span>ASME “S”</span></a><img class="verticalsm" src="{{ app.request.baseurl }}/asset/images/vertical.jpg">
                    <a href=""><img src="{{ app.request.baseurl }}/asset/images/check.jpg">&nbsp;<span>ASME “U”</span></a><img class="verticalsm" src="{{ app.request.baseurl }}/asset/images/vertical.jpg">
                    <a href=""><img src="{{ app.request.baseurl }}/asset/images/check.jpg">&nbsp;<span>ASME “U2”</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- akhir workshop -->
<!-- expertise -->
<section class="expertise">
    <div class="container">
        <div class="row">
           <div class="content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title-expertise">
                        OUR INDUSTRY <b>EXPERTISE</b>
                    </div>
                </div>
            </div>

            <div class="kotak">
                <div class="row customs">
                    <div class="col-md-6 brown">
                        <div>
                            <img src="{{ app.request.baseurl }}/asset/images/Puspetindo-service-Heat-Transfer-Equipment-.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6 white">
                        <div class="desc">
                            <div class="isi">
                                <div class="title-content">
                                    Heat Transfer Equipments
                                </div>
                                <ul class="list-unstyled">
                                    <li>Shell &amp; Tube type Heat Exchangers (fixed head, floating head, U-tube type)</li>
                                    <li>Condensers, Evaporator</li>
                                    <li>Waste heat boilers</li>
                                    <li>Steam drims, Economisers,</li>
                                    <li>Super heaters Fin-tube exchangers (Air coolers, heaters)</li>
                                </ul>
                            </div>
                            <div class="link">
                            <a href="{{ path('reference') }}"><img src="{{ app.request.baseurl }}/asset/images/icon-expertise.jpg">View Project References</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row customs">
                    <div class="col-md-6 white">
                        <div class="desc">
                            <div class="isi">
                            <div class="title-content">
                                Pressure Vessels / Process Equipments
                            </div>
                            <ul class="list-unstyled">
                                <li>Distillation/absorpation columns</li>
                                <li>Separators, filters, strippers</li>
                                <li>Agitators, Polymerisation vessels</li>
                                <li>Jacketed vessels, limpet colls</li>
                                <li>Cryogenic vessels, Vacuum vessels, Deaerators</li>
                                <li>Boiler components – chimney, ducting & fan casings, and any kind of mobile vessels such as tankers for LPG, Ammonia, etc.</li>
                            </ul>
                            
                            </div>
                            <div class="link">
                            <a href="{{ path('reference') }}"><img src="{{ app.request.baseurl }}/asset/images/icon-expertise.jpg">View Project References</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 brown">
                        <div>
                            <img src="{{ app.request.baseurl }}/asset/images/Puspetindo-service-Pressure-Vessels.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>

                <div class="row customs">
                    <div class="col-md-6 brown">
                        <div>
                            <img src="{{ app.request.baseurl }}/asset/images/Puspetindo-service-Storage-Equipments.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6 white">
                        <div class="desc">
                            <div class="isi">
                            <div class="title-content">
                                Storage Equipments
                            </div>
                            <ul class="list-unstyled">
                                <li>Bulk LPG storage bullets</li>
                                <li>Oil/Gas storage tanks</li>
                                <li>Air receivers, gas holders</li>
                                <li>Storages silos</li>
                                <li>Tanks for storage of acids and other chemicals</li>
                            </ul>
                            
                            </div>
                            <div class="link">
                            <a href="{{ path('reference') }}"><img src="{{ app.request.baseurl }}/asset/images/icon-expertise.jpg">View Project References</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row customs">
                    <div class="col-md-6 white">
                        <div class="desc">
                            <div class="isi">
                            <div class="title-content">
                                Specialty Equipments
                            </div>
                            <ul class="list-unstyled">
                                <li>Primary & secondary reformers</li>
                                <li>EDC Crackers</li>
                                <li>Rotary/Fludized bed dryers</li>
                                <li>Hydrocrackers</li>
                                <li>Cyclones, Scrubbers</li>
                                <li>Turbine casings, penstocks</li>
                                <li>Rotary Kilns, calciners, and digesters</li>
                                <li>ESP casings, stacks, fermentators and  other custom-built equipments</li>
                            </ul>
                            
                            </div>
                            <div class="link">
                            <a href="{{ path('reference') }}"><img src="{{ app.request.baseurl }}/asset/images/icon-expertise.jpg">View Project References</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 brown">
                        <div>
                            <img src="{{ app.request.baseurl }}/asset/images/Puspetindo-service-Specialty-Equipments.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
</section>
<!-- akhir expertise -->
<!-- capabilities -->
<section class="capabilities">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title-capabilities">
                    Engineering Capabilities
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="content-capabilities">
                    <div class="title-content">
                        DESIGN AND ENGINEERING
                    </div>
                        <hr>
                    <ul>
                    <li>Mechanical Design</li>
                    <li>Thermal Design</li>
                    <li>Shop Drawings</li>
                    <li>Material Bill of Quantities & Specifications</li>
                    <li>Fabrication Procedure</li>
                    <li>Welding Procedure</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-capabilities">
                    <div class="title-content">
                        DESIGN CONSTRUCTIONS
                    </div>
                        <hr>
                    <ul>
                    <li>ASME Boiler & Pressure Vessel Sect. VIII Div. 1 and Div. 2</li>
                    <li>Power Piping (B 31.1) & Gas Piping (B 31.8)</li>
                    <li>Heat Exchanger (TEMA-R, C and B Type)</li>
                    <li>Air Cooled Heat Exchanger (API 661)</li>
                    <li>Storage (API 650 & 620), JIS, etc.</li>
                    </ul>
                </div>
            </div>
            <div class="visible-sm clear"></div>
            <div class="col-md-3 col-sm-6">
                <div class="content-capabilities">
                    <div class="title-content">
                        MECHANICAL DESIGN SOFTWARES
                    </div>
                        <hr>
                    <ul>
                    <li>PV Elite for Mech. Design of ASME Sec. VIII Div. 1 and Div. 2</li>
                    <li>HTRI for Thermal Design</li>
                    <li>AME Tank (API 650 & 620) for Storage Tank</li>
                    <li>ANSYS Autodesk Inventor Pro (Finite Element / Stress Analysis)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-capabilities">
                    <div class="title-content">
                        DRAFTING AND SUPPORT
                    </div>
                        <hr>
                    <ul>
                    <li>Autodesk AutoCAD</li>
                    <li>Autodesk Inventor Pro for 3D Modeling</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- akhir capabilities -->


<script type="text/javascript">
    $(window).load(function(){

        if ( $(window).width() > 1023 ){
            var sheight = $('.expertise .content .brown img').height();
            $('.expertise .content .white').css('height', sheight+"px");
        }
    });
</script>
{% endblock %}
