{% extends layout %}
{% block title %}Warehouse & Facilities - {% endblock %}
{% block menu %}warehouse{% endblock %}
{% block content %}

    <section class="top_outer_insidepage illustration_page back_warehouse">
        <div class="insidesc">
            <div class="texts">
                <h1 class="title-page">Warehouse & Facilities</h1>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section class="default_sc back-grey mh420 backs_map_warehouse">
        <div class="prelatife container">
            <div class="content-text top_cont_abouts">
                <div class="mw450">
                    <div class="clear height-30"></div>
                    <div class="tops">
                        <h3 class="sub_titles">OUR STRATEGICALLY LOCATED PLANTS DETERMINE OUR MAXIMUM ACHIEVEMENT</h3>
                    </div>
                    <div class="clear"></div>
                    <p>In implementing our company strategy, we seek to put our silo warehouses in key positions so that we can increase the effectiveness of raw commodities collection from local farmers and also our logistic. We put specific focus on commodities deposits, as well as raw material processing to ensure the maximum supply needed by our customers</p>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </section>

<div class="list_boxs_warehouse_p">
    {% if list_warehouse_seger %}
        {% for item in list_warehouse_seger %}
            {% for key, itm in item %}
                {% if key == 0 %}
                    <section id="{{ itm.s_active }}" class="default_sc homes_list_fullsection">
                        <div class="row box_sectionfull">
                            <div class="col-md-7 b_desc">
                                <div class="insides plr90">
                                    <div class="mw570">
                                        <div class="tops">
                                            <h3 class="sub_titles">{{ itm.nama }}</h3>
                                        </div>
                                        <div class="clear"></div>
                                        {{ itm.desc|raw }}
                                        
                                        <div class="d_inline v-top padding-right-10">
                                            <ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
                                                {% for key_pic, item_list in itm.photo_gallery %}
                                                    {% if key_pic == 0 %}
                                                        <li data-src="{{ app.request.baseurl }}/images/tour/{{ itm.s_active }}/{{ item_list }}" data-sub-html="{{ itm.nama }}">
                                                            <a href="{{ app.request.baseurl }}/images/{{ itm.s_active }}/{{ item_list }}" class="btn btn_default_greenlink_home2"><i class="fa fa-camera"></i> &nbsp;VIEW PHOTO TOUR</a>
                                                        </li>
                                                    {% else %}
                                                        <li data-src="{{ app.request.baseurl }}/images/tour/{{ itm.s_active }}/{{ item_list }}" data-sub-html="{{ itm.nama }}">
                                                        <a href="{{ app.request.baseurl }}/images/{{ itm.s_active }}/{{ item_list }}"></a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                            </ul>
                                        </div>
                                        <div class="d_inline v-top">
                                            <a href="javascript:;" class="btn btn_default_greenlink_home2" data-toggle="modal" data-video="{{ itm.video }}" data-target="#myModal"><i class="fa fa-film"></i> &nbsp;VIEW VIDEO DOCUMENTATION</a>    
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-md-5 pict_right">
                                <div class="pict_full picts">
                                    <img src="{{ app.request.baseurl }}/asset/images/{{ itm.pict }}" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                {% endif %}
                {% if key == 1 %}
                    <section id="{{ itm.s_active }}" class="default_sc homes_list_fullsection">
                        <div class="row box_sectionfull">
                            <div class="col-md-5 pict_right">
                                <div class="pict_full picts">
                                    <img src="{{ app.request.baseurl }}/asset/images/{{ itm.pict }}" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-7 b_desc back_cream">
                                <div class="insides plr90">
                                    <div class="mw570">
                                        <div class="tops">
                                            <h3 class="sub_titles">{{ itm.nama }}</h3>
                                        </div>
                                        <div class="clear"></div>
                                        {{ itm.desc|raw }}
                                        
                                        <div class="d_inline v-top padding-right-10">
                                            <ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
                                                {% for key_pic, item_list in itm.photo_gallery %}
                                                    {% if key_pic == 0 %}
                                                        <li data-src="{{ app.request.baseurl }}/images/tour/{{ itm.s_active }}/{{ item_list }}" data-sub-html="{{ itm.nama }}">
                                                            <a href="{{ app.request.baseurl }}/images/{{ itm.s_active }}/{{ item_list }}" class="btn btn_default_greenlink_home2"><i class="fa fa-camera"></i> &nbsp;VIEW PHOTO TOUR</a>
                                                        </li>
                                                    {% else %}
                                                        <li data-src="{{ app.request.baseurl }}/images/tour/{{ itm.s_active }}/{{ item_list }}" data-sub-html="{{ itm.nama }}">
                                                        <a href="{{ app.request.baseurl }}/images/{{ itm.s_active }}/{{ item_list }}"></a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                            </ul>
                                        </div>
                                        <div class="d_inline v-top">
                                            <a href="javascript:;" class="btn btn_default_greenlink_home2" data-toggle="modal" data-video="{{ itm.video }}" data-target="#myModal"><i class="fa fa-film"></i> &nbsp;VIEW VIDEO DOCUMENTATION</a>    
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Video Documentation</h4>
      </div>
      <div class="modal-body" style="padding:15px;">
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe class="place_video" src='https://www.youtube.com/embed/9GzDqlQIGrc' frameborder='0' allowfullscreen></iframe></div>
      </div>
    </div>
  </div>
</div>

{# start js #}
<script type="text/javascript">
    $(window).load(function(){
        widthF = $(window).width();
        if (widthF > 1005 ) {
            var heightPic = $('.box_sectionfull .picts img').height();
            // console.log(heightPic);
            $('.box_sectionfull .b_desc').css('height', heightPic+'px');
        };
    })

    $(document).ready(function(){

        $('#myModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('video') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-body iframe.place_video').attr("src", recipient)
        })
    });
    </script>
{% endblock %}